body {
  font-family: "Inter", sans-serif;
  background-color: #0A0C1C;
}

.stats-card {
  display: flex;
  width: 1110px;
  height: 446px;
  background-color: #1B1937;
  margin: auto;
  margin-top: 12vh;
}

.stats-info h1{

  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 70px 0px 0px 70px;
}

.stats-info span {
  color: #AB5CDB;
}

.stats-par {
  font-size: 15px;
  color: #FFFFFF;
  margin: 30px 70px 0px 70px;
}

.stats-numbers {
  display: flex;
  margin: 60px 65px 0px 70px;
  justify-content: space-between;


}

.stats-numbers div h2 {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

.stats-numbers div p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  margin-top: -12px;
}

.stats-img {
  width: 540px;
  height: 446px;
  margin-left: 70px;
}
